version: '3'

services:
  kvideo:
    container_name: kvideo
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SUBSCRIPTION_SOURCES=[{"name":"MySource","url":"https://raw.githubusercontent.com/rapier15sapper/ew/refs/heads/main/test.json"}]
      - DISABLE_PREMIUM=false
